.deps
.libs
*.am~
*.sh~
*.la
*.lo
*.o
*.pyc
*.swp
Makefile
Makefile.in
libbitcoin-explorer.pc

/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
.dirstamp

.cproject
.project

/obj/
/bin/
/src/explorer
/test/explorer_test
/BUILD/
