.deps
.libs
*.am~
*.sh~
*.la
*.lo
*.o
*.pyc
*.swp
Makefile
Makefile.in
libbitcoin-explorer.pc

/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
.dirstamp

.cproject
.project

/bx
/obj/
/bin/
/bx-build/
/release/staging/bx-*
/release/bx
/release/bx.exe
*.zpl
