# ~/.sx.cfg Sample file.
service = "tcp://obelisk.unsystem.net:8081"
# Use CZMQ program 'makecert' to generate these values.
#client-certificate = "/home/genjix/.sx.cert"
#server-public-key = "W=GRFxHUuUN#En3MI]f{}X:KWnV=pRZ$((byg=:h"
#testnet = "false"
