<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_filesystem-vc120" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_regex-vc120" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_system-vc120" version="1.55.0.16" targetFramework="Native" />
  <package id="curl" version="7.30.0.2" targetFramework="Native" />
  <package id="curl.redist" version="7.30.0.2" targetFramework="Native" />
  <package id="czmq_vc120" version="2.2.0.7" targetFramework="Native" developmentDependency="true" />
  <package id="czmqpp_vc120" version="1.0.0.3" targetFramework="Native" developmentDependency="true" />
  <package id="libconfig_vc120" version="1.4.9.4" targetFramework="Native" developmentDependency="true" />
  <package id="libsodium_vc120" version="0.4.5.1" targetFramework="Native" developmentDependency="true" />
  <package id="libssh2" version="1.4.3.3" targetFramework="Native" />
  <package id="libssh2.redist" version="1.4.3.3" targetFramework="Native" />
  <package id="libzmq_vc120" version="4.1.0.4" targetFramework="Native" developmentDependency="true" />
  <package id="openssl" version="1.0.1.24" targetFramework="Native" />
  <package id="openssl.redist" version="1.0.1.24" targetFramework="Native" />
  <package id="pdcurses" version="3.4.0.2" targetFramework="Native" />
  <package id="zlib" version="1.2.8.6" targetFramework="Native" />
  <package id="zlib.redist" version="1.2.8.6" targetFramework="Native" />
</packages>